<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">

                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://i.pinimg.com/736x/25/25/14/252514203486d5aa39a9fb2cc01da3e4--assassins-creed--the-assassin.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Assassins Creed 2</h5>
                          <a href="#" class="btn btn-primary">Buy Game</a>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://images.nintendolife.com/dfecccd73d6b8/need-for-speed-most-wanted-cover.cover_large.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">NFS Most Wanted</h5>
                          <a href="#" class="btn btn-primary">Buy Game</a>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://www.callofduty.com/content/dam/atvi/callofduty/legacy/modern-warfare-remastered/Standalone_Packshots_2D_PS4.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">COD Modern Warfare 1</h5>
                          <a href="#" class="btn btn-primary">Buy Game</a>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://image.api.playstation.com/vulcan/img/cfn/11307x4B5WLoVoIUtdewG4uJ_YuDRTwBxQy0qP8ylgazLLc01PBxbsFG1pGOWmqhZsxnNkrU3GXbdXIowBAstzlrhtQ4LCI4.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Minecraft</h5>
                          <a href="#" class="btn btn-primary">Buy Game</a>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://cdn1.epicgames.com/offer/cbd5b3d310a54b12bf3fe8c41994174f/4492483e-5d15-4d19-8c2e-262e6545307f_1200x1600-300398d5e534f9ead4057c73bf6bad37" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Valorant</h5>
                          <a href="#" class="btn btn-primary">Buy Game</a>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://m.media-amazon.com/images/M/MV5BYWQyNTY1NzAtMGJiYi00ZTcwLWE0ZjktYjY4YTZkMzA1YzZmXkEyXkFqcGdeQXVyNTgyNTA4MjM@._V1_FMjpg_UX1000_.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">GTA V</h5>
                          <a href="#" class="btn btn-primary">Buy Game</a>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/dw50af203c/images/large/56c4947a88a7e300458b45e2.jpg?sw=341&sh=450&sm=fit" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Far Cry 4</h5>
                          <a href="#" class="btn btn-primary">Buy Game</a>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://image.api.playstation.com/vulcan/ap/rnd/202009/2419/BWMVfyxONkIAlAJVQd96qPuN.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Fallout</h5>
                          <a href="#" class="btn btn-primary">Buy Game</a>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://image.api.playstation.com/cdn/EP0700/CUSA03365_00/OFMeAw2KhrdaEZAjW1f3tCIXbogkLpTC.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Darl Souls</h5>
                          <a href="#" class="btn btn-primary">Buy Game</a>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://image.api.playstation.com/vulcan/ap/rnd/202108/0410/0Jz6uJLxOK7JOMMfcfHFBi1D.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Elden Ring</h5>
                          <a href="#" class="btn btn-primary">Buy Game</a>
                        </div>
                      </div>

                </div>
            </div>
        </div>
    </div>
</div>